.login-component {
    text-align: center;
    padding: 10%;
}

.sign-up {
    padding-bottom: 10%;
    .input-holder {
        display: inline;
    }

    .row {
        display: flex;
        .col-md-10 {
            display: flex;
        }
    }
}