.login-component {
    text-align: center;
    padding: 10%;
}

.sign-up, .address-form {
    padding-bottom: 10%;
    .input-holder {
        display: inline;
    }

    .row {
        display: flex;
        .col-md-10 {
            display: flex;
        }
    }
}

.customer-utilities {
    display: inline;
    position: absolute;
    top: 70%;
    right: 10%;
    font-size: 15px;
}

.input-holder {
    margin-right: 5px;
    .alert-danger {
        background: none;
    }
}

.create-product {
    padding-left: 20px;
    padding-right: 20px;
}

.add-product {
    padding-left: 20px;
    padding-right: 20px;
}

.address-form {
    .row {
        
    }
}